[submodule "ActionBarSherlock"]
	path = ActionBarSherlock
	url = https://github.com/JakeWharton/ActionBarSherlock.git
[submodule "base/deps/leveldb"]
	path = base/deps/leveldb
	url = https://github.com/google/leveldb.git
[submodule "base/deps/catch"]
	path = base/deps/catch
	url = https://github.com/philsquared/Catch.git
